<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <p class="lead">
        Hennighan Development Test MEAN Application
        <hr>
        <small>
          Connect on social media:
        </small>
      </p>
    </div>
    <div class="row">
      <a class="socialIcons" href="{{facebookUrl}}"><i class="fa fa-facebook-official fa-3x"></i></a>
      <a class="socialIcons" href="{{twitterUrl}}"><i class="fa fa-twitter-square fa-3x"></i></a>
      <a class="socialIcons" href="{{githubUrl}}"><i class="fa fa-github-square fa-3x"></i></a>
      <a class="socialIcons" href="{{jsfiddleUrl}}"><i class="fa fa-jsfiddle fa-3x"></i></a>
      <a class="socialIcons" href="{{stackoverflowUrl}}"><i class="fa fa-stack-overflow fa-3x"></i></a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
    <h3>This Test Application Uses:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>M</strong>ongoDB</h2>
      <p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a NoSQL database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>E</strong>xpress</h2>
      <p><a target="_blank" href="http://expressjs.com/"> Express</a> is a NodeJS server-side application web framework. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>A</strong>ngularJS</h2>
      <p><a target="_blank" href="http://angularjs.org/">AngularJS</a> is client-side web application framework. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>N</strong>ode.js</h2>
      <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a JavaScript run-time, popular for being a web server platform. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
    </div>
  </div><br />
  <div class="well">
    <h2>MEAN.JS Documentation</h2>
    <p>
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> -->
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
  </div>
</section>
