<section>
  <div class="page-header">
    <h1>{{vm.blog._id ? 'Edit Blog' : 'New Blog'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.blogForm" class="form-horizontal" ng-submit="vm.save(vm.form.blogForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.blog.name" id="name" class="form-control" placeholder="Name" required>
          <label class="control-label" for="description">Description</label>
          <textarea name="description" type="text" ng-model="vm.blog.description" id="description" class="form-control" placeholder="Description" resize="none"></textarea>
          <div ng-messages="vm.form.blogForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Blog name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.blog._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
